app.name=Enterprise Banking System
app.version=1.0-SNAPSHOT

db.url=jdbc:postgresql://your-host/your-db?sslmode=require&channel_binding=require
db.username=your_username
db.password=your_password
db.driver=org.postgresql.Driver

db.pool.size=10
db.pool.maxLifetime=30

flyway.url=jdbc:postgresql://your-host/your-db?sslmode=require&channel_binding=require
flyway.user=your_username
flyway.password=your_password